<% var thumbnailUrl = thumbnail(page, true) %>
<% if (thumbnailUrl) { %>
<header id="header" class="container header-with-image">
    <div style="background-image: url(<%- thumbnailUrl %>)" class="header-image"></div>
<% } else { %>
<header id="header" class="container header-with-image">
<% } %>
    <div id="header-inner" class="container-inner">
        <h1 class="header-title">
            <a href="<%- url_for() %>" class="head-title-link"><span class="white">Clément</span><span class="colored">Danjou</span></a>
         </h1>
         <% if (page.title) { %>
            <% var time = parseInt(page.layout === 'post' && page.content ? page.content.length/1000 : 0) %>
            <h2 class="header-article-title">
                <span><%= page.title %></span><% if (time) { %><span class="header-article-title-time"><i class="icon fa fa-clock-o"></i> <%= time %> minutes</span><% } %>
            </h2>
        <% } %>
    </div>
</header>
<div id="navigation" class="nav-container container">
    <div class="container-inner">
        <a id="main-nav-toggle" class="nav-icon fa fa-bars"></a>
        <div class="nav-container-inner">
            <ul id="main-nav">
                <% for (var i in theme.menu) {
                        if (i == 'Categories') { %>
                            <%- list_categories({
                                depth: 2,
                                style: 'list',
                                class: 'main-nav',
                                show_count: false,
                            }) %>
                        <% } else { %>
                    <li class="main-nav-list-item" >
                        <a class="main-nav-list-link" href="<%- url_for(theme.menu[i]) %>"><%= __('index.' + i.toLowerCase()) %></a>
                    </li>
                <% }} %>
            </ul>
            <nav id="sub-nav">
                <%- partial('search/index') %>
            </nav>
        </div>
    </div>
</div>
